### 1) Mo' money...

A cash drawer contains 160 bills, all 10s and 50s. The total value of the 10s and 50s is P1,760.

How many of each type of bill are in the drawer? You can figure this out by trial and error (or by doing algebra with pencil and paper), but try to use loops and conditionals to check a plausible possibilities and stop when you find the correct one.

In [2]:
#Algebra

# 10x + 50 (160 - x) = 1760

# There are 156 10s bills, and 4 50s bills

check = 0

for i in range (1, 161):
    for c in range(1, 161):
        check = 10 * c + 50 * i
        if check == 1760:
            print('50s:', i,'10s:', c, sum)

50s: 4 10s: 156 <built-in function sum>
50s: 5 10s: 151 <built-in function sum>
50s: 6 10s: 146 <built-in function sum>
50s: 7 10s: 141 <built-in function sum>
50s: 8 10s: 136 <built-in function sum>
50s: 9 10s: 131 <built-in function sum>
50s: 10 10s: 126 <built-in function sum>
50s: 11 10s: 121 <built-in function sum>
50s: 12 10s: 116 <built-in function sum>
50s: 13 10s: 111 <built-in function sum>
50s: 14 10s: 106 <built-in function sum>
50s: 15 10s: 101 <built-in function sum>
50s: 16 10s: 96 <built-in function sum>
50s: 17 10s: 91 <built-in function sum>
50s: 18 10s: 86 <built-in function sum>
50s: 19 10s: 81 <built-in function sum>
50s: 20 10s: 76 <built-in function sum>
50s: 21 10s: 71 <built-in function sum>
50s: 22 10s: 66 <built-in function sum>
50s: 23 10s: 61 <built-in function sum>
50s: 24 10s: 56 <built-in function sum>
50s: 25 10s: 51 <built-in function sum>
50s: 26 10s: 46 <built-in function sum>
50s: 27 10s: 41 <built-in function sum>
50s: 28 10s: 36 <built-in function sum>
50s: 29 10s: 31 <built-in function sum>
50s: 30 10s: 26 <built-in function sum>
50s: 31 10s: 21 <built-in function sum>
50s: 32 10s: 16 <built-in function sum>
50s: 33 10s: 11 <built-in function sum>
50s: 34 10s: 6 <built-in function sum>
50s: 35 10s: 1 <built-in function sum>

### 2) FizzBuzz

Write a short program that prints each number from 1 to 100 on a new line. 

- For each multiple of 3, print "Fizz" instead of the number. 
- For each multiple of 5, print "Buzz" instead of the number. 
- For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number.

In [3]:
for i in range(1, 101):
    if ((i % 5 == 0) and (i % 3 == 0)): 
        print('FizzBuzz')
    elif (i % 3 == 0):
        print('Fizz')
    elif (i % 5 == 0):
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 3) Demographia

Using `countries.csv` in S3 bucket:

- Find the minimum and maximum of the 'life expectancy' for costal and landlocked countries.
- How many coastal and landlocked countries are in each continent? Determine the mean deathrate for coastal and landlocked countries in each continent.
- Create a new column measuring population density.  Determine the mean population density of all the countries.  Create a new column 'dense' that is True for countries with higher than average density and False for lower than average density.
- For each category of 'dense' compute the mean birthrate and the difference between the maximal birthrate and the minimal birthrate.

In [42]:
import pandas as pd

df = pd.read_csv("countries.csv", delimiter = ";")
df.head()
df['Population'].max()

1373541278

In [5]:
df.shape

(248, 17)

In [6]:
df_coastal = df[df['Coastline']>0]
df_coastal.head()

,Country,Country (de),Country (local),Country code,Continent,Capital,Population,Area,Coastline,Government form,Currency,Currency code,Dialing prefix,Birthrate,Deathrate,Life expectancy,Url
1,Egypt,Ägypten,Misr,EG,Africa,Cairo,94666993,1001450,2450,Presidential republic,Pfund,EGP,20,30.3,4.7,72.7,https://www.laenderdaten.info/Afrika/Aegypten/...
3,Albania,Albanien,Shqipëria,AL,Europe,Tirana,3038594,28748,362,parliamentary republic,Lek,ALL,355,13.1,6.7,78.3,https://www.laenderdaten.info/Europa/Albanien/...
4,Algeria,Algerien,Al-Jaza’ir/Algérie,DZ,Africa,Algiers,40263711,2381741,998,Presidential republic,Dinar,DZD,213,23.0,4.3,76.8,https://www.laenderdaten.info/Afrika/Algerien/...
5,American Samoa,Amerikanisch Samoa,Amerika Samoa,AS,Oceania,Pago Pago,54194,199,116,Presidential democracy (self-governing territo...,Dollar,USD,1-684,22.9,4.8,75.4,https://www.laenderdaten.info/Ozeanien/Amerika...
7,Angola,Angola,Angola,AO,Africa,Luanda,20172332,1246700,1600,Presidential republic,Kwanza,AOA,244,38.6,11.3,56.0,https://www.laenderdaten.info/Afrika/Angola/in...

In [7]:
df_landlocked = df[df['Coastline']==0]
df_landlocked.head()

,Country,Country (de),Country (local),Country code,Continent,Capital,Population,Area,Coastline,Government form,Currency,Currency code,Dialing prefix,Birthrate,Deathrate,Life expectancy,Url
0,Afghanistan,Afghanistan,Afganistan/Afqanestan,AF,Asia,Kabul,33332025,652230,0,Presidential islamic republic,Afghani,AFN,93,38.3,13.7,51.3,https://www.laenderdaten.info/Asien/Afghanista...
2,Åland Islands,Ålandinseln,Åland,AX,Europe,Mariehamn,29013,1580,0,Autonomous region of Finland,Euro,EUR,358,0.0,0.0,0.0,https://www.laenderdaten.info/Europa/Aland/ind...
6,Andorra,Andorra,Andorra,AD,Europe,Andorra la Vella,85660,468,0,parliamentary democracy,Euro,EUR,376,7.8,7.1,82.8,https://www.laenderdaten.info/Europa/Andorra/i...
13,Armenia,Armenien,Hajastan,AM,Asia,Yerevan,3051250,29743,0,Semi-presidential republic,Dram,AMD,374,13.3,9.4,74.6,https://www.laenderdaten.info/Asien/Armenien/i...
15,Azerbaijan,Aserbaidschan,Azärbaycan,AZ,Asia,Baku,9872765,86600,0,Presidential republic,Manat,AZN,994,16.2,7.1,72.5,https://www.laenderdaten.info/Asien/Aserbaidsc...

In [8]:
# Find the minimum and maximum of the 'life expectancy' for costal and landlocked countries.

In [9]:
min(df_coastal['Life expectancy'])

0.0

In [10]:
max(df_coastal['Life expectancy'])

89.5

In [11]:
min(df_landlocked['Life expectancy'])

0.0

In [12]:
max(df_landlocked['Life expectancy'])

83.3

In [13]:
# How many coastal and landlocked countries are in each continent?

In [14]:
df_coastal.groupby('Continent').agg({'Country': 'count'})

                 Country
Continent
Africa                41
America                2
Antarctica             4
Asia                  38
Australia              5
Central America        7
Europe                36
North America         27
Oceania               22
South America         11

In [15]:
df_landlocked.groupby('Continent').agg({'Country': 'count'})

               Country
Continent
Africa              18
America              1
Antarctica           1
Asia                13
Europe              16
North America        3
South America        3

In [16]:
#Determine the mean deathrate for coastal and landlocked countries in each continent.

df_coastal.groupby('Continent').agg({'Country': 'count',
                                    'Deathrate': lambda x: x.sum() / x.count()})

                 Country  Deathrate
Continent
Africa                41   8.131707
America                2   6.650000
Antarctica             4   0.000000
Asia                  38   5.594737
Australia              5   2.920000
Central America        7   5.171429
Europe                36   9.986111
North America         27   7.233333
Oceania               22   4.850000
South America         11   6.336364

In [17]:
df_landlocked.groupby('Continent').agg({'Country': 'count',
                                    'Deathrate': lambda x: x.sum() / x.count()})

               Country  Deathrate
Continent
Africa              18   9.988889
America              1   0.000000
Antarctica           1   0.000000
Asia                13   7.084615
Europe              16   8.100000
North America        3   0.000000
South America        3   3.733333

In [45]:
# Create a new column measuring population density. Determine the mean population density of all the countries. 

df['Population Density'] = df['Population'] / df['Area']
df[['Country','Population Density']]

,Country,Country (de),Country (local),Country code,Continent,Capital,Population,Area,Coastline,Government form,Currency,Currency code,Dialing prefix,Birthrate,Deathrate,Life expectancy,Url,Population Density
237,Holy See (Vatican City),Vatikanstadt,Santa Sede/Città del Vaticano,VA,Europe,NaN,1000,0,0,absolute monarchy,Euro,EUR,396,0.0,0.0,0.0,https://www.laenderdaten.info/Europa/Vatikan/i...,inf

In [54]:
import numpy as np

average_density = np.mean(list(df[df['Area'] != 0]['Population Density']))

In [55]:
average_density

384.91559882949986

In [60]:
#Create a new column 'dense' that is True for countries with higher than average density and False for lower than average density

#average_density = 25
df['dense'] = df['Population Density'] > average_density
df[['Population Density', 'dense']]

     Population Density  dense
0             51.104710  False
1             94.529925  False
2             18.362658  False
3            105.697579  False
4             16.905159  False
..                  ...    ...
243          110.309859  False
244           16.333333  False
245            2.206842  False
246            8.840126  False
247          130.318344  False

[248 rows x 2 columns]

In [22]:
df.groupby('Birthrate').agg({'Birthrate': 'mean',
                                'Deathrate': lambda x: x.sum() / x.count()})

           Birthrate  Deathrate
Birthrate
0.0              0.0       0.00
6.6              6.6       9.60
7.2              7.2       9.80
7.8              7.8       8.35
8.3              8.3      11.50
...              ...        ...
41.7            41.7       9.00
41.8            41.8      12.40
43.4            43.4      10.40
44.4            44.4      12.60
44.8            44.8      12.10

[158 rows x 2 columns]

In [61]:
# For each category of 'dense' compute the mean birthrate and the difference between the maximal birthrate and the minimal birthrate.

mean_birthrate = df['Birthrate'].mean()
mean_birthrate
df

,Country,Country (de),Country (local),Country code,Continent,Capital,Population,Area,Coastline,Government form,Currency,Currency code,Dialing prefix,Birthrate,Deathrate,Life expectancy,Url,Population Density,dense
0,Afghanistan,Afghanistan,Afganistan/Afqanestan,AF,Asia,Kabul,33332025,652230,0,Presidential islamic republic,Afghani,AFN,93,38.3,13.7,51.3,https://www.laenderdaten.info/Asien/Afghanista...,51.104710,False
1,Egypt,Ägypten,Misr,EG,Africa,Cairo,94666993,1001450,2450,Presidential republic,Pfund,EGP,20,30.3,4.7,72.7,https://www.laenderdaten.info/Afrika/Aegypten/...,94.529925,False
2,Åland Islands,Ålandinseln,Åland,AX,Europe,Mariehamn,29013,1580,0,Autonomous region of Finland,Euro,EUR,358,0.0,0.0,0.0,https://www.laenderdaten.info/Europa/Aland/ind...,18.362658,False
3,Albania,Albanien,Shqipëria,AL,Europe,Tirana,3038594,28748,362,parliamentary republic,Lek,ALL,355,13.1,6.7,78.3,https://www.laenderdaten.info/Europa/Albanien/...,105.697579,False
4,Algeria,Algerien,Al-Jaza’ir/Algérie,DZ,Africa,Algiers,40263711,2381741,998,Presidential republic,Dinar,DZD,213,23.0,4.3,76.8,https://www.laenderdaten.info/Afrika/Algerien/...,16.905159,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Wallis and Futuna,Wallis und Futuna,Wallis-et-Futuna,WF,Oceania,Mata-Utu,15664,142,129,Parliamentary democracy (territory of France),Franc,XPF,681,13.3,5.2,79.7,https://www.laenderdaten.info/Ozeanien/Wallis-...,110.309859,False
244,Christmas Island,Weihnachtsinsel,Christmas Island,CX,Australia,Flying Fish Cove,2205,135,139,(non-self-governing territory of Australia),Dollar,AUD,6724,0.0,0.0,0.0,https://www.laenderdaten.info/Australien/Weihn...,16.333333,False
245,Western Sahara,Westsahara,As-Sahrawiya,EH,Africa,El Aaiún,587020,266000,1110,republic,Dirham,MAD,NaN,29.8,8.2,63.0,https://www.laenderdaten.info/Afrika/Westsahar...,2.206842,False
246,Central African Republic,Zentralafrikanische Republik,Centrafrique/Bê-Afrîka,CF,Africa,Bangui,5507257,622984,0,Presidential republic,Franc,XAF,236,34.7,13.5,52.3,https://www.laenderdaten.info/Afrika/Zentralaf...,8.840126,False
247,Cyprus,Zypern,Kýpros/Kibris,CY,Asia,Nicosia,1205575,9251,648,Presidential democracy,Euro,EUR,357,11.4,6.7,78.7,https://www.laenderdaten.info/Asien/Zypern/ind...,130.318344,False

In [70]:
df[(df['dense']==True) & (df['Area'] != 0)]['Population Density'].mean()

2468.036205783134

In [71]:
df[(df['dense']==False) & (df['Area'] != 0)]['Population Density'].mean()

96.92657482669341

In [ ]:
birthrate_diff = max(df['Birthrate']) - min(df['Birthrate'])
birthrate_diff